.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 14px;
}

.checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

.form-group {
  margin-top: 0;
  margin-bottom: 0;
}

.table tfoot {display:none;}