.main-header .logo {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 14px;
}

h4 {
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: 13px;
}